@import url('menu.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E6D1A6;
}

.ds{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pai{
    display: flex;
    width: 800px;
    height: 400px;
    gap: 25px;
}
.pai img {
    width: 280px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 3px 5px 5px black;

}  
.pai h3{
    width: 100%;
    height:13px;
}
h1{
    text-align: center;
    padding: 20px;
    text-shadow: 1px 0px 2px black;
}
h2{
    text-align: center;

}
.texto{
    width: 900px;
    text-align: justify;
}
.texto p{
    margin-bottom: 10px;
}


